
.social{

		display:inline-block;
	width:40%;
	text-align: center;
	margin: 3%;
	float: left;
	background-color: white;
	border-radius: 10px;
	padding:5px;
	height :20%;
	margin-top: 2%;
}

.img{
	width:40%;
	margin: 2%;
	display:inline-block;
		border-radius: 50%;
		float: left;

}
.done{
	display:inline-block;
		height: 50%;
	float: right;
	width: 50%;
	background-color: white;
	margin-top:10%;
	margin-bottom:10%;
}
h3{
	text-align: center;
	color:blue;
	font-size: 30px;

}
h1{
	font-size: 50px;
	color:white;
	margin-bottom: 3%;
	margin-top: 3%;
	text-align: center;
}